:root{
    /* Colors */
    --dark-pruple: #24053E;
    --Eucaliptus: #44FFA1;
    --davis-gray: #584D62;
    --ghost-white: #FCF8FF;

    /* fonts */
    --fraunces: 'Fraunces', serif;
    --manrope: 'Manrope', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first mobile */

header{
    background: var(--dark-pruple);
    padding-top: 2.3rem;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-logo{
    width: 5.9rem;
    height: 1.5rem;
}

.nav-button{
    background: none;
    color: white;
    font-weight: 600;
    border: none;
    border-bottom: #44FFA1 solid 0.2rem;
    font-family: var(--manrope);
}

.nav-button:hover{
    color: var(--Eucaliptus);
}

/* hero styles */
.hero-section{
    background: var(--dark-pruple);
    padding-top: 4.2rem;
    position: relative;
    height: 25rem;
}

h1{
    color: white;
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 3.525rem;
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: var(--fraunces);
    margin-left: 1rem;
    margin-right: 1rem;
}

.h1-span{
    border-bottom: #44FFA1 solid 0.2rem;
}

.hero-button{
    color: var(--dark-pruple);
    background: var(--Eucaliptus);
    max-width: 8.3rem;
    width: 100%;
    height: 3.4375rem;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    margin-bottom:4.65rem;
    font-family: var(--manrope);
}

.hero-button:hover{
    background: none;
    color: var(--Eucaliptus);
    border: solid 0.1rem var(--Eucaliptus);
}


.hero-wave {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero-wave svg {
    position: relative;
    display: block;
    width: calc(267% + 1.3px);
    height: 85px;
}

.hero-wave .shape-fill {
    fill: #24053E;
}


.hero-image{
    max-width: 20rem;
    width: 100%;
    height: 15rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -170px;
    margin: auto;
}

.features-section{
    margin-top: 15rem;
    text-align: center;
}

.features-number-container{
    margin-top: 2.5rem;
    border: solid 1px var(--dark-pruple);
    border-radius: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    width: 3.1rem;
    height: 3rem;
    color: var(--dark-pruple);
    font-family: var(--fraunces);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.features-section:last-of-type{
    margin-bottom: 24.5rem;
}

.features-tittle{
    margin-top: 1.5rem;
    color: var(--dark-pruple);
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--dark-pruple);
    font-family: var(--fraunces);
}

.features-description{
    color: var(--davis-gray);
    margin-top: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    font-family: var(--manrope);
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.founder-article{
    position: relative;
}

.founder-profile-image{
    max-width: 16rem;
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.founder-profile-container{
    background: var(--dark-pruple);
    padding: 2.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h3{
    font-family: var(--fraunces);
    font-size: 2rem;
    color: white;
    font-weight: 350;
    text-align: center;
}

.founder-profile-introduction{
    font-family: var(--manrope);
    color: white;
    font-weight: 100;
    line-height: 1.75rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.founder-profile-button{
    color: var(--dark-pruple);
    background: var(--Eucaliptus);
    max-width: 10.3rem;
    width: 100%;
    height: 3.4375rem;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    font-family: var(--manrope);
}

.founder-profile-button:hover{
    background: none;
    color: var(--Eucaliptus);
    border: solid 0.1rem var(--Eucaliptus);
}


/* footer mobiile style */

.footer-logo{
    max-width: 6rem;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 3.5rem;
}

.footer-social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


    /* tablet style */
@media (min-width: 768px){

    .hero-section{
        background-image:
        url(assets/images/bg-pattern-1.svg),
        url(assets/images/bg-pattern-2.svg);
        background-repeat: no-repeat;
        background-position:
        top 50px left -230px,
        bottom 50px right -100px;
        height: 28rem;
    }

    h1{
        max-width: 25rem;;
        width: 100%;
        margin: 0 auto;
    }

    .hero-button{
        margin-top: 2rem;
    }

    .hero-image{
        max-width: 34rem;
        height: 22rem;
        bottom: -250px;
    }

    .features-container:first-of-type{
        margin-top: 20rem;
    }

    .features-container{
        display: flex;
        margin-left: 6rem;
        margin-right: 6rem;
        gap: 2rem;
        margin-top: 4rem;
    }

    .features-number-container{
        align-self: center;
    }

    .features-tittle{
        text-align: left;
    }

    .features-description{
        text-align: left;
        margin-left: 0;
    }

    .founder-article{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        display: flex;
        justify-content: end;
    }

    .founder-profile-image{
        right: 100%;
        bottom: 60%;
    }

    .founder-profile-container{
        max-width: 33rem;
        width: 100%;     
        padding: 3.5rem; 
    }

    .founder-profile-container ::after{
        content: '';
        background-image: url(assets/images/bg-pattern-3.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 270px;
        left: 445px;
        right: 0;
        bottom: -200px;
        z-index: 1;
    }

    h3{
        font-size: 3rem;
        text-align: left;
    }

    .founder-profile-introduction{
        text-align: left;
    }

    .founder-profile-button{
        margin: initial;
    }
}



